/**=========================================================================**\

SOMMAIRE
-------------------------------------------------------------------------------
1# Variables
2# Layout
3# Helpers
4# Template parts

\**=========================================================================**/


/**=========================================================================**\
 
 1# VARIABLES

\**=========================================================================**/


	/**======================================================================**\
 	
 	1.1# COLORS

	\**======================================================================**/

:root {
--clr-main: #fe7e17; /**orange*/

     --clr-bg-main: #fbfbfb;      /**white*/
--clr-bg-secondary: #e5e5e5;      /**light grey*/

       --clr-heading: #323232; /**black*/
  --clr-content-main: #848484; /**grey*/
--clr-content-darkbg: #fff;    /**white*/
}

	/**======================================================================**\
	 
	 1.2# TYPOGRAPHY

	\**======================================================================**/

:root {
	  --lite: 300;
   --regular: 400;
	  --bold: 600;
--extra-bold: 700;


         --s-very-big: 3.5rem;      /**56px*/
           --s-bigger: 3rem;        /**48px*/
              --s-big: 2rem;	    /**32px*/
       --s-notverybig: 1.5rem;      /**24px**/
       	  --s-abitbig: 1.125rem;    /**18px**/
           --s-normal: 1rem;        /**16px*/
            --s-small: 0.875rem;    /**14px*/
}


	/**=====================================================================**\
 	
 	1.3# LAYOUT

	\**=======================================================================**/

:root{
--inter-section: 4rem;
   --inter-card: 1rem;
     --v-gutter: 1rem;
     --h-gutter: 2rem;
}

	/**=====================================================================**\
 	
 	1.4# BREAKPOINT

	\**=====================================================================**/

:root {
	    --mobile: 480px;
        --medium: 780px;
	  --desktop: 1200px;
}

/**=========================================================================**\
 TEST
\**=========================================================================**/


.panel-portfolio_img{
	width: 100%;
}

.panel-home__image{
	width: 100%;
	object-fit: cover;
}

.heading--2{
	margin-bottom: var(--h-gutter);
	
}

.card-form__btn{
	align-self: right;
}
 .card-contact__list{
 	padding-inline-start: 0;
 }



/**=========================================================================**\

 2# LAYOUT

\**=========================================================================**/

.panel-home, .section-about, .panel-team, .panel-quote,
.panel-facts, .panel-testimonial, .panel-contact__background{
		margin-bottom: var(--inter-section);

}

	.card-value, .panel-about, .panel-team__details, .card-team, .fa-social,
	.card-tab__filter, .card-facts, .card-author__dash,
	.card-contact__item, .card-copyright, .card-social, 
	.panel-contact__details{
		padding-bottom: var(--inter-card);
		padding-right: var(--v-gutter);
		padding-left: var(--v-gutter);
	}

	.card-quote, .panel-services__layer, .panel-partner, .panel-contact, 
	.panel-portfolio, .panel-testimonial{
		padding-top: var(--inter-section);
		padding-bottom: var(--inter-section);
	}

		.panel-quote__author{
			padding-right: var(--h-gutter);
		}

	.card-tab{
		margin-bottom: var(--h-gutter);
	}

	.fa-contact{
	padding: 0.5rem;
	margin-right: 0.5rem;
	}

	.card-form__input, .card-form__btn{
		margin-bottom: var(--inter-card);
		margin-right: var(--v-gutter);
		margin-left: var(--v-gutter);
	}

	.panel-header__sticky, .menu-link, .card-tab__filter{
		padding: var(--inter-card);
	}
	

.panel-header{
		display: flex;
		align-items: center;
}
	.menu-main{
			margin-left: auto;
	}

	.card-tab{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.card-portfolio, .card-form{
		display: flex;
		flex-direction: column;
	}

	.panel-facts, .card-facts, .panel-services, .panel-partner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card-author{
		display: flex;
		justify-content: center;
	}

	.card-form__btn{
		display: flex;
		justify-content: flex-end;
	}

@media screen and (min-width: 780px) {

	/** SECTION ABOUT**/
	.panel-value{
		display: flex;
	}
		.card-value{
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
		}
	.card-about{
		display: flex;
	}
		.panel-about__details{
			flex-grow: 1;
		}


	/** SECTION TEAM**/
	.panel-team {
		display: flex;
	}
		.card-team__description{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.card-team__social{
			display: flex;
			justify-content: center;
		}
	
	/** SECTION WORKS**/
	
.grid{
		display: grid;
		width: 100%;
		grid-template-columns: auto auto auto auto auto auto auto;
		grid-gap: 0.5rem;
}
		/**IMAGES POSITION**/
		.portfolio-img__lapd1947 {
			grid-area: 1 / 1 / span 1 / span 1;
		}

		.portfolio-img__outdoor {
			grid-area: 1 / 2 / span 1 / span 1;
		}

		.portfolio-img__nex7 {
			grid-area: 1 / 3 / span 2 / span 2;
		}

		.portfolio-img__seaside {
			grid-area: 1 / 5 / span 2 / span 1;
		}

		.portfolio-img__fashion {
			grid-area: 2 / 1 / span 1 / span 2;
		}

		.portfolio-img__childhood {
			grid-area: 1 / 6 / span 2 / span 2;
		}

		.portfolio-img__focuslab {
			grid-area: 3 / 3;
		}

		.portfolio-img__summer { 
			grid-area: 3 / 4 / span 1 / span 2;
		}

		.portfolio-img__time {
			grid-area: 3 / 6;
		}

		.portfolio-img__guitar {
			grid-area: 3 / 1 / span 1 / span 2;
		}



	/** SECTION FACTS**/
	.panel-facts{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}


	/**SECTION SERVICE**/
	.panel-services{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}


	/**SECTION PARTNERS**/
	.panel-partner{
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	/**CONTACT FORM**/
	.card-contact__layout{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}


/**=========================================================================**\
 
 3# Helpers

\**=========================================================================**/


.uppercase{
	text-transform: uppercase;
}

.content{
	max-width: 70rem;
	margin: 0 auto;
}

.parallax{
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}


/**=========================================================================**\
 
 4# Template parts

\**=========================================================================**/


body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.panel-header__sticky{
	position: sticky;
	top: 0;
	background-color: white;
	opacity: 0.8;
	z-index: 1000;
}

/**BANNER**/
.panel-home{
	position: relative;
}
	.panel-home__heading{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -100%);
		padding: 1rem;
	}


.section-about{
		background-color: var(--clr-bg-main);
	}

.card-services{
	margin: var(--h-gutter);
	border: 1px solid var(--clr-content-main);
	padding: 2rem 2rem 1rem 2rem;
	width: 7rem;
}

.card-services:hover{
	color: var(--clr-content-darkbg);
	background-color: var(--clr-main);
}

.card-contact__list{
	list-style: none;
}


input[type="text"], [type="email"], textarea{
	background: transparent;
	border: 1px solid white;
	padding: 1rem;
	color: white;
}

	::-webkit-input-placeholder{
		color: var(--clr-main);
	}

.card-form__button{
	color: var(--clr-content-darkbg);
	font-weight: var(--extra-bold);
	background-color: var(--clr-heading);
	padding: 1rem;
	border: 1px solid white;
	cursor: pointer;
}

.card-form__button:hover{
	color: var(--clr-main);
	border-color: var(--clr-main);
}


	/**=====================================================================**\
	 
	 4.1# TYPOGRAPHY

	\**=====================================================================**/

.heading--1{
	font-size: var(--s-bigger);
	font-weight: var(--extra-bold);
	color: #fff;
	border: 1px solid #fff;
}

.heading--2{
	font-size: var(--s-big);
	font-weight: var(--lite);
}

.heading--3{
	font-size: 1.5rem;
	font-weight: var(--extra-bold);
}

.card-value__details, .panel-team__details, .panel-about__details, 
.card-team__job, .card-team__detail, .card-copyright{
	color: var(--clr-content-main);
}

.card-team__name{
	font-weight: var(--bold);
}

.panel-quote__text{
	color: var(--clr-content-darkbg);
	font-weight: var(--lite);
	font-size: var(--s-big);
}

.panel-quote__author{
	color: var(--clr-content-darkbg);
	font-weight: var(--extra-bold);
	font-size: var(--s-small);
	text-align: right;
}

.number{
	font-size: var(--s-very-big);
	font-weight: var(--extra-bold);
}

.card-facts__element{
	font-weight: var(--lite);
}

.card-services__name{
	font-weight: var(--extra-bold);
	font-size: var(--s-small);
}

.heading--2--darkbg, .panel-contact__details, .card-contact__item{
	color: var(--clr-content-darkbg);
}

.panel-contact__details{
	font-size: var(--s-abitbig);
}

	.card-contact__item{
		font-style: normal;
	}

	.card-contact__item--link{
		text-decoration: none;
		color: var(--clr-main);
	}


.card-team, .panel-quote__text, .heading--2, .panel-team__details, .number,
.card-services, .card-testimonial__quote, .card-testimonial__author, 
.card-copyright, .card-social, .panel-footer__backtotop{
	text-align: center;
}


	/**=====================================================================**\
	 
	 4.2# BACKGROUND

	\**=====================================================================**/

.panel-quote__background{
	background-image: url("../../images/parallax-quote.jpeg");
}
	.panel-quote__layer{
		background-color: rgba(0, 0, 0, 0.70);
	}

.panel-services__background{
	background-image: url("../../images/parallax-services.jpeg");
}
	.panel-services__layer{
		background-color: rgba(255, 255, 255, 0.70);
	}

.panel-partner{
	background-color: var(--clr-main);
}

.panel-contact__background{
	background-image: url("../../images/parallax-contact.jpg");
}
	.panel-contact__layer{
		background-color: rgba(0, 0, 0, 0.70);
	}

	/**=====================================================================**\
	 
	 4.3# ICONES

	\**=====================================================================**/

.fa-social{
	color: var(--clr-content-main);
}

.fa-social:hover{
	color: var(--clr-main);
}

.fa-services{
	font-size: 3rem;
}

.fa-contact{
	color: var(--clr-heading);
	border: 1px solid white;
	background-color: white;
}
	.fa-map-marker-alt{
		font-size: 1.25rem
	}

.fa-angle-double-up{
	color: white;
	background-color: black;
	border: 1px solid black;
	padding: 1rem;
	margin-bottom: 0rem;
}
.fa-angle-double-up:hover{
	color: var(--clr-main);
}


	/**=====================================================================**\
	 
	 4.4# LINKS

	\**=====================================================================**/

.menu-link{
	color: var(--clr-heading);
	font-size: var(--s-small);
	font-weight: var(--extra-bold);
	text-decoration: none;
}

.menu-link:hover{
	text-decoration: underline;
	cursor: pointer;
}

.menu-link:active{
	color: var(--clr-main);
	text-decoration: underline;
	text-decoration-color: var(--clr-main);
}



.card-tab__filter{
	border: 1px solid transparent;
	text-decoration: none;
	color: var(--clr-content-main);
	font-weight: var(--lite);
}

.card-tab__filter:hover{
	border-color: var(--clr-main);
}